:host {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
}

.page-content {
  box-sizing: border-box;
  display: block;
  flex: 1;
  overflow: auto;
}
