node_modules/
dist/
.nx/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

.angular
.DS_Store
# Python egg-info
*.egg-info/
orbis_modellfabrik.egg-info/

# Logs
logs/omf2.log
logs/session_manager.jsonl
logs/
logs/*.log
coverage/

# Backend metrics-service
backend/metrics-service/node_modules/
backend/metrics-service/dist/
backend/metrics-service/.env
backend/metrics-service/*.log
