<div class="dsp-mes-teaser">
  <div class="dsp-mes-teaser__header">
    <h2 class="dsp-mes-teaser__title">{{ sectionTitle }}</h2>
    <p class="dsp-mes-teaser__description">{{ sectionDescription }}</p>
  </div>

  <div class="dsp-mes-teaser__features">
    <div
      *ngFor="let feature of features; trackBy: trackByTitle"
      class="dsp-mes-teaser__feature"
    >
      <div class="dsp-mes-teaser__feature-icon">
        <img [src]="feature.icon" [alt]="feature.title" />
      </div>
      <h3 class="dsp-mes-teaser__feature-title">{{ feature.title }}</h3>
      <p class="dsp-mes-teaser__feature-description">{{ feature.description }}</p>
    </div>
  </div>

  <div class="dsp-mes-teaser__footer">
    <span class="dsp-mes-teaser__badge" i18n="@@dspMesTeaserBadge">🚧 In Development</span>
  </div>
</div>
