// Import ORBIS CI Color Palette
@import './app/assets/color-palette';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f4f7fb;
  color: var(--orbis-darkgrey); // ORBIS CI: Neutrales Dunkelgrau
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; // ORBIS CI: OpenSans Hausschrift
  font-weight: 400; // Regular
  text-align: left; // Linksbündiger Rausatz (außer bei Mengentext: Blocksatz)
}
