# Force vendored scopes to use a fake registry to ensure they are loaded from local tarballs
@beemo:registry=http://127.9.9.9:9/
@fischertechnik:registry=http://127.9.9.9:9/
@omm:registry=http://127.9.9.9:9/
@ft:registry=http://127.9.9.9:9/
